<mat-card>
    <mat-card-header>
        <mat-card-title>
            Protein Farm Calculator
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="proteinForm">
            <mat-form-field>
                <mat-label>Protein Farm I(Output/hr)</mat-label>
                <input matInput formControlName="pfi" type="number">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Protein Farm II(Output/hr)</mat-label>
                <input matInput formControlName="pfii" type="number">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Protein Farm III(Output/hr)</mat-label>
                <input matInput formControlName="pfiii" type="number">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Protein Farm IV(Output/hr)</mat-label>
                <input matInput formControlName="pfiv" type="number">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Protein Farm Weekly Pass</mat-label>
                <input matInput formControlName="pfWP" type="number">
            </mat-form-field>
            <div>
                <strong>
                    Total Output
                </strong>
                {{ totalOutput }}
            </div>
            <hr>
            <mat-form-field>
                <mat-label>Current Protein</mat-label>
                <input matInput formControlName="currentP" type="number">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Required Protein</mat-label>
                <input matInput formControlName="requiredP" type="number">
            </mat-form-field>
        </form>
        <div>
            <strong>
                {{ hours | number: '0.0' }} hours
            </strong>
        </div>
        <div>
            {{completionTime | date: 'short'}}
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="clearForm()">
            Clear Form
        </button>
    </mat-card-actions>
</mat-card>