main{
    margin: 50px;
}

.title{
    color:blueviolet;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

iframe{
    width: 100%;
    height: 100%;
}

mat-card{
    height: 400px;
}

mat-card-header{
    height: 145px;
}