<main>
    <mat-tab-group>
        <mat-tab label="Season 1">
            <div class="card-container">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <p class="title">
                                Last War Survival Guide! Season One release and expectations!
                            </p>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <iframe src="https://www.youtube.com/embed/C9m5MW6Km2M?si=bkAqS0FaxO0z8GfR"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <p class="title">
                                Last War: Survival Game - Season 1 - Virus resistance explained
                            </p>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/c55lE2DpWkw?si=fhbog7EZKRB1Kub8"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <p class="title">
                                Season 1 day 1 basics ( last war survival guide)
                            </p>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/i1Pd2T1emXo?si=Pj4nFWICu3kOW5sH"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Season 2">

        </mat-tab>
    </mat-tab-group>
</main>