<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" routerLink="/rfm" [routerLinkActive]="'active'">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/guide" [routerLinkActive]="'active'">Guide</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="milestones" [routerLinkActive]="'active'">Milestones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="proteincalculator" [routerLinkActive]="'active'">Protein Farm Calculator</a>
    </li>
</ul>
<router-outlet></router-outlet>
<div>
    <small>&copy; D00fer All rights reserved.</small>
</div>