/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);

}

/* Root styles */
:root {
    --primary-color: #ff4d4d;  /* Intense red for danger or alert */
    --background-color: #aaaaaa;  /* Dark background for a post-apocalyptic look */
    --text-color: #f5f5f5;  /* Light text for readability */
    --font-family: 'Roboto', sans-serif;
    --grunge-font: 'Courier New', monospace;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
